@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  margin: 0;
  background: #000;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}